.container {
    display: grid;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "nav content sidebar"
        "footer footer footer";
    min-height: 100vh;

    color: #fff;
    font-weight: 700;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    grid-area: header;
    padding: 2rem;
    background-color: #122A3C;
}

.nav {
    grid-area: nav;
    padding: 2rem;
    background-color: #294356;
}

.content {
    grid-area: content;
    padding: 2rem;
    background-color: #3D576A;
}

.sidebar {
    grid-area: sidebar;
    padding: 2rem;
    background-color: #294356;
}

.footer {
    grid-area: footer;
    padding: 2rem;
    background-color: #122A3C;
}

.header,
.nav,
.content,
.sidebar,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto) auto;
        grid-template-areas: 
            "header"
            "nav"
            "content"
            "sidebar"
            "footer";
    }
}